<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Data</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="/stylesheets/dashboard.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">

</head>

<body class="bg-gray-100 flex h-screen">
    <%- include('partials/navbar') %>
        <div class=" flex-1 container mx-auto p-8">
            <div class="flex justify-between items-center">
                <button class="menu-button bg-blue-500 text-white p-2 rounded-md md:hidden focus:outline-none">
                    <i class="fas fa-bars"></i>
                </button>
                <button class="close-button bg-blue-500 text-white p-2 rounded-md md:hidden focus:outline-none hidden">
                    <i class="fas fa-times"></i>
                </button>
            </div>

            <div class="container mx-auto p-8">
                <h2 class="text-2xl font-bold mb-4">Add Images to Registry Entry: <%= entry._id %>
                </h2>
                <form action="/add-images/<%= entry._id %>" method="POST" enctype="multipart/form-data">
                    <div class="mb-4"> <label class="block text-gray-700 text-sm font-bold mb-2" for="images">Upload
                            Images</label>
                        <input
                            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                            id="images" type="file" name="images" multiple required>
                    </div>
                    <div class="flex items-center justify-between"> <button
                            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                            type="submit"> Add Images </button> <a href="/registry-entries"
                            class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                            Cancel </a> </div>
                </form>
            </div>
        </div>
        <script>



            function click() {
                document.querySelector('.menu-button').addEventListener('click', () => {
                    document.querySelector('nav').classList.toggle('-translate-x-full');
                    document.querySelector('.menu-button').classList.toggle('hidden');
                    document.querySelector('.close-button').classList.toggle('hidden');
                });

                document.querySelector('.close-button').addEventListener('click', () => {
                    document.querySelector('nav').classList.toggle('-translate-x-full');
                    document.querySelector('.menu-button').classList.toggle('hidden');
                    document.querySelector('.close-button').classList.toggle('hidden');
                });
            }
            click();



        </script>
</body>

</html>